<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "edit-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "Nombre", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Edad %><br />
    <%= f.text_field :age, autofocus: true, autocomplete: "Edad", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Teléfono %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "teléfono", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmarción por email: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(deja en blanco si no lo quieres cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nueva contraseña", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "contraseña actual", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-outline-secondary" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<div>Insatisfecho? <%= button_to "Cancelar mi suscripción", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class:"btn btn-outline-secondary" %></div>

<%= link_to "Ir a publicaciones", :back, class:"btn btn-outline-secondary" %>