<div id="<%= dom_id publication %>">

  <div class="card" style="width: 23rem;">
      <%= image_tag publication.image, class:"card-img-top" %>
    <div class="card-body">
      <h3><%= publication.title %></h3>
      <%= publication.description %> <br/><br/>
      <h6><%= publication.user.name %></h6>
    </div>
  </div>
</div>
